<div>
  <h2 id="page-heading" data-cy="InfoLegalHeading">
    <span>Info Legals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-info-legal"
        [routerLink]="['/info-legal/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Info Legal </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="infoLegals?.length === 0">
    <span>No infoLegals found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="infoLegals && infoLegals.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nit"><span>Nit</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="regimen"><span>Regimen</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prefijoFE"><span>Prefijo FE</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prefijoPOS"><span>Prefijo POS</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prefijoNOM"><span>Prefijo NOM</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="resolucionPos"><span>Resolucion Pos</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prefijoPosInicial"><span>Prefijo Pos Inicial</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prefijoPosFinal"><span>Prefijo Pos Final</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="resolucionFacElec"><span>Resolucion Fac Elec</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prefijoFacElecInicial"><span>Prefijo Fac Elec Inicial</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prefijoFacElecFinal"><span>Prefijo Fac Elec Final</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="resolucionNomElec"><span>Resolucion Nom Elec</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prefijoNomElecInicial"><span>Prefijo Nom Elec Inicial</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prefijoNomElecFinal"><span>Prefijo Nom Elec Final</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="estado"><span>Estado</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fechaRegistro"><span>Fecha Registro</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="usuario.id"><span>Usuario</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let infoLegal of infoLegals; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/info-legal', infoLegal.id, 'view']">{{ infoLegal.id }}</a>
          </td>
          <td>{{ infoLegal.nit }}</td>
          <td>{{ infoLegal.regimen }}</td>
          <td>{{ infoLegal.prefijoFE }}</td>
          <td>{{ infoLegal.prefijoPOS }}</td>
          <td>{{ infoLegal.prefijoNOM }}</td>
          <td>{{ infoLegal.resolucionPos }}</td>
          <td>{{ infoLegal.prefijoPosInicial }}</td>
          <td>{{ infoLegal.prefijoPosFinal }}</td>
          <td>{{ infoLegal.resolucionFacElec }}</td>
          <td>{{ infoLegal.prefijoFacElecInicial }}</td>
          <td>{{ infoLegal.prefijoFacElecFinal }}</td>
          <td>{{ infoLegal.resolucionNomElec }}</td>
          <td>{{ infoLegal.prefijoNomElecInicial }}</td>
          <td>{{ infoLegal.prefijoNomElecFinal }}</td>
          <td>{{ infoLegal.estado }}</td>
          <td>{{ infoLegal.fechaRegistro | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="infoLegal.usuario">
              <a [routerLink]="['/usuario', infoLegal.usuario?.id, 'view']">{{ infoLegal.usuario?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/info-legal', infoLegal.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/info-legal', infoLegal.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(infoLegal)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
