<div class="card-master">
  <div class="card-form">
    <form name="editForm" class="form" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h1 id="jhi-sucursal-heading" data-cy="SucursalCreateUpdateHeading">Crear nueva sucursal.</h1>

      <jhi-alert-error></jhi-alert-error>

      <div class="row mb-3" [hidden]="editForm.get('id')!.value == null" [hidden]="hidden">
        <label class="form-label" for="field_id">ID</label>
        <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
      </div>

      <input
        type="text"
        class="form-control"
        placeholder="Nombre"
        name="nombre"
        id="field_nombre"
        data-cy="nombre"
        formControlName="nombre"
      />

      <input
        [hidden]="hidden"
        type="text"
        class="form-control"
        placeholder="Nit"
        name="nit"
        id="field_nit"
        data-cy="nit"
        formControlName="nit"
      />

      <textarea
        class="form-control"
        placeholder="Detalle"
        name="detalle"
        id="field_detalle"
        data-cy="detalle"
        formControlName="detalle"
      ></textarea>

      <input
        type="text"
        class="form-control"
        name="direccion"
        placeholder="Direccion"
        id="field_direccion"
        data-cy="direccion"
        formControlName="direccion"
      />

      <div class="row mb-3" [hidden]="hidden">
        <label class="form-label" for="field_direccionGPS">Direccion GPS</label>
        <input
          type="text"
          class="form-control"
          name="direccionGPS"
          id="field_direccionGPS"
          data-cy="direccionGPS"
          formControlName="direccionGPS"
        />
      </div>

      <input type="file" placeholder="Logo" id="file_logo" data-cy="logo" (change)="setFileData($event, 'logo', false)" />

      <div class="row mb-3" [hidden]="hidden">
        <label class="form-label" for="field_estado">Estado</label>
        <input type="number" class="form-control" name="estado" id="field_estado" data-cy="estado" formControlName="estado" />
      </div>

      <div class="row mb-3" [hidden]="hidden">
        <label class="form-label" for="field_fechaRegistro">Fecha Registro</label>
        <div class="d-flex">
          <input
            id="field_fechaRegistro"
            data-cy="fechaRegistro"
            type="datetime-local"
            class="form-control"
            name="fechaRegistro"
            formControlName="fechaRegistro"
            placeholder="YYYY-MM-DD HH:mm"
          />
        </div>
      </div>

      <div class="row mb-3" [hidden]="hidden">
        <label class="form-label" for="field_empresa">Empresa</label>
        <select class="form-control" id="field_empresa" data-cy="empresa" name="empresa" formControlName="empresa">
          <option [ngValue]="null"></option>
          <option
            [ngValue]="empresaOption.id === editForm.get('empresa')!.value?.id ? editForm.get('empresa')!.value : empresaOption"
            *ngFor="let empresaOption of empresasSharedCollection; trackBy: trackEmpresaById"
          >
            {{ empresaOption.id }}
          </option>
        </select>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
