<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="codigo">
      <h2 data-cy="codigoDetailsHeading"><span>Codigo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ codigo.id }}</span>
        </dd>
        <dt><span>Codigo</span></dt>
        <dd>
          <span>{{ codigo.codigo }}</span>
        </dd>
        <dt><span>Detalle</span></dt>
        <dd>
          <span>{{ codigo.detalle }}</span>
        </dd>
        <dt><span>Fecha Registro</span></dt>
        <dd>
          <span>{{ codigo.fechaRegistro | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/codigo', codigo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
