<div class="card-master">
  <div class="card-form">
    <form name="editForm" class="form" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h1 id="jhi-usuario-heading" data-cy="UsuarioCreateUpdateHeading">
        Crear nuevo <span *ngIf="!auxR">Usuario</span> <span *ngIf="auxR">Representante</span>
      </h1>

      <jhi-alert-error></jhi-alert-error>

      <div class="row mb-3" [hidden]="hidden">
        <label class="form-label" for="field_id">ID</label>
        <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
      </div>

      <input
        placeholder="Primer Nombre"
        type="text"
        class="form-control"
        name="primerNombre"
        id="field_primerNombre"
        data-cy="primerNombre"
        formControlName="primerNombre"
      />

      <input
        placeholder="Segundo Nombre"
        type="text"
        class="form-control"
        name="segundoNombre"
        id="field_segundoNombre"
        data-cy="segundoNombre"
        formControlName="segundoNombre"
      />

      <input
        placeholder="Primer Apellido"
        type="text"
        class="form-control"
        name="primerApellido"
        id="field_primerApellido"
        data-cy="primerApellido"
        formControlName="primerApellido"
      />

      <input
        placeholder="Segundo Apellido"
        type="text"
        class="form-control"
        name="segundoApellido"
        id="field_segundoApellido"
        data-cy="segundoApellido"
        formControlName="segundoApellido"
      />

      <input
        placeholder="Tipo Documento"
        type="text"
        class="form-control"
        name="tipoDocumento"
        id="field_tipoDocumento"
        data-cy="tipoDocumento"
        formControlName="tipoDocumento"
      />

      <input
        type="text"
        placeholder="Documento"
        class="form-control"
        name="documento"
        id="field_documento"
        data-cy="documento"
        formControlName="documento"
      />

      <input
        type="text"
        placeholder="Documento DV"
        class="form-control"
        name="documentoDV"
        id="field_documentoDV"
        data-cy="documentoDV"
        formControlName="documentoDV"
      />

      <input
        type="text"
        class="form-control"
        placeholder="Indicativo"
        name="indicativo"
        id="field_indicativo"
        data-cy="indicativo"
        formControlName="indicativo"
      />

      <input
        type="text"
        class="form-control"
        placeholder="Celular"
        name="celular"
        id="field_celular"
        data-cy="celular"
        formControlName="celular"
      />

      <input
        type="text"
        class="form-control"
        placeholder="Direccion"
        name="direccion"
        id="field_direccion"
        data-cy="direccion"
        formControlName="direccion"
      />

      <div class="row mb-3" [hidden]="hidden">
        <label class="form-label" for="field_direccionGps">Direccion Gps</label>
        <input
          type="text"
          class="form-control"
          name="direccionGps"
          id="field_direccionGps"
          data-cy="direccionGps"
          formControlName="direccionGps"
        />
      </div>

      <div>
        <div *ngIf="editForm.get('foto')!.value" class="form-text text-danger clearfix">
          <a class="pull-start" (click)="openFile(editForm.get('foto')!.value, editForm.get('fotoContentType')!.value)">open</a><br />
          <span class="pull-start">{{ editForm.get('fotoContentType')!.value }}, {{ byteSize(editForm.get('foto')!.value) }}</span>
          <button
            type="button"
            (click)="editForm.patchValue({ foto: null }); editForm.patchValue({ fotoContentType: null })"
            class="btn btn-secondary btn-xs pull-end"
          >
            <fa-icon icon="times"></fa-icon>
          </button>
        </div>
        <input type="file" id="file_foto" data-cy="foto" (change)="setFileData($event, 'foto', false)" />
      </div>
      <input type="hidden" class="form-control" name="foto" id="field_foto" data-cy="foto" formControlName="foto" />
      <input type="hidden" class="form-control" name="fotoContentType" id="field_fotoContentType" formControlName="fotoContentType" />

      <div class="row mb-3" [hidden]="hidden">
        <label class="form-label" for="field_fechaRegistro">Fecha Registro</label>
        <div class="d-flex">
          <input
            id="field_fechaRegistro"
            data-cy="fechaRegistro"
            type="datetime-local"
            class="form-control"
            name="fechaRegistro"
            formControlName="fechaRegistro"
            placeholder="YYYY-MM-DD HH:mm"
          />
        </div>
      </div>

      <div class="row mb-3" [hidden]="hidden">
        <label class="form-label" for="field_user">User</label>
        <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
          <option [ngValue]="null"></option>
          <option
            [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
            *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
          >
            {{ userOption.login }}
          </option>
        </select>
      </div>

      <div class="row mb-3" [hidden]="hidden">
        <label class="form-label" for="field_rol">Rol</label>
        <select class="form-control" id="field_rol" data-cy="rol" name="rol" formControlName="rol">
          <option [ngValue]="null"></option>
          <option
            [ngValue]="rolOption.id === editForm.get('rol')!.value?.id ? editForm.get('rol')!.value : rolOption"
            *ngFor="let rolOption of rolsCollection; trackBy: trackRolById"
          >
            {{ rolOption.id }}
          </option>
        </select>
      </div>

      <div class="row mb-3" [hidden]="hidden">
        <label for="field_sucursals">Sucursal</label>
        <select class="form-control" id="field_sucursals" data-cy="sucursal" multiple name="sucursals" formControlName="sucursals">
          <option
            [ngValue]="getSelectedSucursal(sucursalOption, editForm.get('sucursals')!.value)"
            *ngFor="let sucursalOption of sucursalsSharedCollection; trackBy: trackSucursalById"
          >
            {{ sucursalOption.id }}
          </option>
        </select>
      </div>

      <div class="row mb-3" [hidden]="hidden">
        <label for="field_empresaIds">Empresa Id</label>
        <select class="form-control" id="field_empresaIds" data-cy="empresaId" multiple name="empresaIds" formControlName="empresaIds">
          <option
            [ngValue]="getSelectedEmpresa(empresaOption, editForm.get('empresaIds')!.value)"
            *ngFor="let empresaOption of empresasSharedCollection; trackBy: trackEmpresaById"
          >
            {{ empresaOption.id }}
          </option>
        </select>
      </div>

      <label class="form-label" for="field_edad">Edad</label>
      <input
        id="field_edad"
        data-cy="edad"
        type="datetime-local"
        class="form-control"
        name="edad"
        formControlName="edad"
        placeholder="YYYY-MM-DD HH:mm"
      />

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
