<div class="alert alert-danger" *ngIf="errorUserExists"><strong>Nombre de usuario registrado!</strong> Por favor elije otro.</div>

<div class="alert alert-danger" *ngIf="errorEmailExists"><strong>Email registrado!</strong> Por favor elije otro.</div>
<div class="alert alert-success" *ngIf="success">
  <strong>Registration exitoso!</strong> Por favor revise su correo electrónico para confirmación.
</div>
<div *ngIf="account === null" class="card">
  <div class="sub-card">
    <h1>Iniciar sesion</h1>
    <div class="card-form">
      <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            placeholder="Correo"
            formControlName="username"
            #username
            data-cy="username"
          />
        </div>

        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="Clave"
            formControlName="password"
            data-cy="password"
          />
        </div>

        <div class="form-check">
          <label class="form-check-label" for="rememberMe">
            <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" />
            <span>Remember me</span>
          </label>
        </div>

        <button type="submit" class="btn btn-primary" data-cy="submit">Sign in</button>
        <a class="alert-link" routerLink="/account/reset/request" data-cy="forgetYourPasswordSelector">Recuperar clave</a>
      </form>
    </div>
  </div>
  <div class="sub-card" *ngIf="!success">
    <h1 routerLink="account/register">Registrar empresa</h1>

    <div class="card-form">
      <form name="form" class="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm">
        <input
          type="text"
          class="form-control"
          id="login"
          name="login"
          placeholder="Nombre de usuario"
          formControlName="login"
          data-cy="username"
          #login
        />

        <input
          type="text"
          class="form-control"
          id="empresa"
          name="empresa"
          placeholder="Nombre de empresa"
          formControlName="empresa"
          data-cy="empresa"
          #login
        />

        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Correo electronico"
          formControlName="email"
          data-cy="email"
        />

        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Clave"
          formControlName="password"
          data-cy="firstPassword"
        />

        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Confirmar clave"
          formControlName="confirmPassword"
          data-cy="secondPassword"
        />

        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary" data-cy="submit">Register</button>
      </form>
    </div>
  </div>
</div>
