<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="rol">
      <h2 data-cy="rolDetailsHeading"><span>Rol</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ rol.id }}</span>
        </dd>
        <dt><span>Nombre</span></dt>
        <dd>
          <span>{{ rol.nombre }}</span>
        </dd>
        <dt><span>Descripcion</span></dt>
        <dd>
          <span>{{ rol.descripcion }}</span>
        </dd>
        <dt><span>Estado</span></dt>
        <dd>
          <span>{{ rol.estado }}</span>
        </dd>
        <dt><span>Fecha Registro</span></dt>
        <dd>
          <span>{{ rol.fechaRegistro | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Empresa</span></dt>
        <dd>
          <div *ngIf="rol.empresa">
            <a [routerLink]="['/empresa', rol.empresa?.id, 'view']">{{ rol.empresa?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/rol', rol.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
